<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/products.css">
    <script src="https://kit.fontawesome.com/2715bae171.js" crossorigin="anonymous"></script>
    <title>Products</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li><a href="#" class="button">products</a></li>
                <li><a href="#" class="button">favourites</a></li>
                <li><a href="#" class="button">add product</a></li>
            </ul>
            <div class="username">
                <a href="#" class="sing-out"><i class="fas fa-sign-out-alt"></i></a>
                <p>username</p>
            </div>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search">
                    </form>
                </div>
            </header>
            <section class="products">
                
                <div id="product-1">
                    <img src="../img/upload/lab02.png">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                        <div class="social-section">
                            <i style="color: red" class="fas fa-heart">600</i>
                            <i style="color: lightseagreen" class="fas fa-minus-square">101</i>
                        </div>
                    </div>
                </div>
                <div id="product-2">
                    <img src="../img/upload/lab02.png">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                        <div class="social-section">
                            <i style="color: red" class="fas fa-heart">600</i>
                            <i style="color: lightseagreen" class="fas fa-minus-square">101</i>
                        </div>
                    </div>
                </div>
                <div id="product-3">
                    <img src="../img/upload/lab02.png">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                        <div class="social-section">
                            <i style="color: red" class="fas fa-heart">600</i>
                            <i style="color: lightseagreen" class="fas fa-minus-square">101</i>
                        </div>
                    </div>
                </div>
                <div id="product-4">
                    <img src="../img/upload/lab02.png">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                        <div class="social-section">
                            <i style="color: red" class="fas fa-heart">600</i>
                            <i style="color: lightseagreen" class="fas fa-minus-square">101</i>
                        </div>
                    </div>
                </div>
                
            </section>
            <div id="footer">
                <ul>
                    <li><a href="#" class="button">products</a></li>
                    <li><a href="#" class="button">favourites</a></li>
                    <li><a href="#" class="button">add product</a></li>
                </ul>
            </div>
        </main>
    </div>
</body>