section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.products>div>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.products>div>div {
    height: 50%;
    margin-left: 1em;
    font: normal normal bold 12px/30px Arial;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 200px;
}

.products>div {
    border: 1px solid grey;
    background: #FFCD43B2 0% 0% no-repeat padding-box;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:none;
}

#footer {
    display: none;
}

@media only screen and (max-device-width: 420px) {
    section {
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        height: auto;
        justify-content: center;
    }

    nav {
        height: 20vh;
        min-height: auto;
        position: relative;
        border:none;
        justify-content: center;
    }

    nav>ul {
        display: none;
    }

    nav {
        width: 100%;
    }

    nav>img {
        width: 50%;
        height: 30vh;
        margin: auto;
    }

    .username {
        position: absolute;
        width: 10vw;
        top: 10px;
        right: 10px;
        font-size: 2vh;
        flex-direction: row-reverse;
        justify-content:space-around;
    }

    .username>a {
        font-size: 1.1vh;
        margin-left: 15px;
    }

    header {
        height: 8.5vh;
        width: 100vw;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .search-bar {
        margin: auto;
        width: 100vw;
        font-size: 12px;
        height: auto;
        
    }

    .search-bar>form {
        width: 100vw;
        display: flex; 
        justify-content: center;
        
        height: auto;
    }

    .search-bar>form>input {
        font-size: 1.5vh;
        width: 80vw;
    }

    .products>div>img {
        height: 50%;
        width: 100%;
        object-fit: cover;
        margin: auto;
    }
    
    .products>div>div {
        width: 100%;
        height: 50%;
    }
    
    .products>div {
        border: 1px solid grey;
        background: #FFCD43B2 0% 0% no-repeat padding-box;
        height: 400px;
        width: 80vw;
        border:none;
        margin:auto;
    }

    #footer {
        width: 100vw;
        height: 5vh;
        background: transparent linear-gradient(340deg, #FFCD43B2 0%, #D43F07 100%) 0% 0% no-repeat padding-box;
        display: block;
        display: flex;
        align-items: center;
        display: block;
        bottom: 0;
        left: 0;
    }

    #footer>ul{
        height: 5vh;
        align-items: center;
        width: auto;
        margin: auto auto;
    }

    #footer>ul>li{
        width: 33vw; 
        height: 5vh;
        margin: auto;
       /*border-bottom: 1px solid #F55007B2;*/ 
    }

    #footer>ul>li:nth-child(2) {
        border: 5px solid #F55007B2;
        border-bottom: none;
        border-top: none;

    }

    #footer>ul>li>a{
        background-color: transparent;
        height: fit-content;
        font-size: 1.5vh;
        padding: 1.54vh;
       /* border-bottom: 1px solid #F55007B2;*/
    }

}


