body {
    margin: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(244deg, #FFCD43B3 0%, #D43F07 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.login-container {
    width: 50%;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    padding: 2em;

    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 33px;
}

button {
    background: transparent linear-gradient(244deg, #FFCD43B3 0%, #D43F07 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 18px;

    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
    
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    padding: 1em;
    margin: 1em;
    width: 50%;
    text-align: left;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        margin: 2em;
    }
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    width: 15vw;
    height: 100vh;
    background: transparent linear-gradient(340deg, #FFCD43B2 0%, #D43F07 100%) 0% 0% no-repeat padding-box;
    border-right: 1px solid #707070;
    min-width: 180px;

    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main{
    width: 85vw;
    height: 100vh;
    background-color: white;
}


nav > img {
    margin: 1em;
    margin-top: 2em;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

.button {
    color: white;
    font:normal normal normal 18px/27px Segoe UI;
    background: #F55007B2 0% 0% no-repeat padding-box;
    
    border-radius: 0.5em;
    width: 80%;
    text-align: center;
    letter-spacing: 0.7px;
    padding: 0.5em;
}

ul {
    list-style-type: none;
    color:white;
    height: 100%;
    margin: 0 auto;
    width: calc(100% - 40px);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    text-align: center;
    margin-bottom: 3.5em;
}

.username {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 1em 1em;
    color: white;
    
}

.username > .sing-out {
    display: inline-block;
    color:#F55007B2;
    height:4vh;
    
}

.username > p {
    height:1.5em;
    font:normal normal normal 18px/27px Segoe UI;
    margin: 0 auto;
    border-bottom: 1px solid #F55007B2;
    
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    }

header {
    display: flex;
    justify-content: center;
    padding: 1em 2em;
    border-bottom: 1px solid grey;
    height: 5em;
    }

.search-bar {
    width: 50%;
    
}

.search-bar>form>input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 5px solid #F55007B2;
    border-radius: 34px;
    width: 100%;
    text-align: center;
}

@media only screen and (max-device-width: 411px) {
    .base-container {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
    
    nav {
        width: 100vw;
        height: 20vh;
    }
    
    .search-bar {
        height: 10vh;
        
    }
    ul {
        flex-direction: row;
    }
   
    main {
        width: 100vw;
        height: 80vh;
    }

    section {
        height: 100vh;
        width: 100vw;
    }

    header {
        height: 10vh;
    }
}