html{
    overflow: hidden;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}

::-webkit-scrollbar {
    width: 0.75em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f8d50eb3; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFCD43B3; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b99531b3; 
  }

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(244deg, #FFCD43B3 0%, #D43F07 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.login-container {
    width: 50%;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    padding: 2em;

    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 2.06em;
}

button {
    background: transparent linear-gradient(244deg, #FFCD43B3 0%, #D43F07 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1.125em;

    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
    
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    padding: 1em;
    margin: 1em;
    width: 50%;
    text-align: left;
}

@media only screen and (max-device-width: 420px) {
    body{
        overflow: hidden;
    }

    .container {
        flex-direction: column;
    }

    /** {
        font-size: 36px;
    }*/

    .login-container, .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        margin: 2em;
    }
}

/*
.base-container {
    display: relative; /*ZMIENIC W MEDIA QUERIESSSSSSSSSSSSSSS!!!!!!!!!!!!!!!!!
    align-items: center;
    height: 100vh;
    right: 0;
}
*/

nav {
    width: 15vw;
    height: 100vh;
    min-width: 12em;
    z-index: 995;
    background: transparent linear-gradient(340deg, #FFCD43B2 0%, #D43F07 100%) 0% 0% no-repeat padding-box;
    min-height: 32.5em;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left:-100%;
    

    transition-property: left;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;

}

main{
    width: 100vw;
    height: 100vh;
    /*background: linear-gradient(236deg, rgba(250,223,41,0.05926120448179273) 38%, rgba(255,205,0,0.29735644257703087) 100%);*/
    background: linear-gradient(32deg, rgba(255,155,60,0.3113620448179272) 0%, rgba(249,255,0,0.227328431372549) 100%);
    position:absolute;
    right:0;
    background-color: white;

    display: flex;
    flex-direction: column;
}


nav > img {
    margin: 1em;
    margin-top: 3.12em;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
    color: white;
}

button, input, span, label {
    outline: none;
}

.button {
    color: white;
    font:normal normal normal 18px/27px Segoe UI;
    background: #F55007B2 0% 0% no-repeat padding-box;
    
    border-radius: 0.5em;
    width: 80%;
    text-align: center;
    letter-spacing: 0.7px;
    padding: 0.5em;
}

ul {
    list-style-type: none;
    color:white;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 2.5em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

li {
    text-align: center;
    margin-bottom: 3.5em;
}

.username {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10%;
    width: 100%;
    color: white;
}

.username > a {
    color:#F55007B2;
    margin-right: 10%;
    width: fit-content;
}

.username > p {
    font:normal normal normal 15px/27px Segoe UI;
    border-bottom: 1px solid #F55007B2;
    color:white;
    margin: 0;
    width: fit-content;
}

#bt_nav {
    width: 2em;
    height: 2em;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 2em;
    margin: 0;
    border:none;
    border-radius: 0;
    opacity: 1;
    z-index: 999;;
}

header {
    display: flex;
    justify-content: center;
    padding: 1em 2em;
    border-bottom: 1px solid grey;
    height: 5em;
    }

header>img {
    position: absolute;
    height: 5em;
    left:1.25em;
    opacity: 1;

    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}


.search-bar {
    margin: auto;
    width: 50%;
    font-size: 0.75em;
    height: auto;

}

.search-bar>input {
    display: flex;
    justify-content: center;
    font-size: 1.5vh;
    height: auto;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 5px solid #F55007B2;
    border-radius: 2.125em;
    width: 100%;
    text-align: center;
}


@media only screen and (max-device-width: 420px) {
    input, button {
        font-size: 1.35em;
    }

    .base-container {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        margin-left: 0 !important;
        transition: none !important;
    }
    
    .base-container>nav {
        width: 100vw;
        height: 20vh;
        display: flex !important;
        position: static;
        flex-direction: column;
        justify-content: center;
        opacity:1 !important;
    }

    #bt_nav {
        display: none !important;
    }
    
    nav{
        left: 0 !important;
        transition: none !important;
        position: relative !important;
        width:100vw !important;
    }

    .search-bar{
        width: 80%;
    }

    .search-bar>input {
        width: 82%;
    }

    header>img {
        display: none !important;
    }

    ul {
        flex-direction: row;
    }
   
    main {
        width: 100vw !important;
        height: 74.9vh;
        transition: none !important;
        position: relative !important;
    }

    section {
        height: 80vh;
        width: 100vw;
    }

    header {
        height: 10vh;
    }
}